/* Facebook button */
.facebook-btn {
    background-color: #3C589C; /* Facebook blue */
    color: white;
    border: none;
}

.facebook-btn:hover {
    background-color: #2d4373; /* Darker blue for hover */
}


/* Google button */
.google-btn {
    background-color: #DF4B3B; /* Google red */
    color: white;
    border: none;
}

.google-btn:hover {
    background-color: #c1351d; /* Darker red for hover */
}

/* Twitter button */
.twitter-btn {
    background-color: #00c6f1; /* Twitter blue */
    color: white;
    border: none;
}

.twitter-btn:hover {
    background-color: #0098ad; /* Darker blue for hover */
}
.text-center h1 {
    margin-bottom: 10px; /* Зменшуємо відстань під заголовком */
}

.row {
    margin-top: 20px; /* Можна відрегулювати для зменшення відстані між заголовком і елементами */
}

/* General styles for social buttons */
.social-btn {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}

.social-btn i {
    margin-right: 10px;
}

/* OR divider */
.or-divider {
    position: relative;
    height: 100%;
    border-left: 2px solid #ccc; /* Колір та товщина лінії */
    margin: 0 15px; /* Відступи з боків */
}

.or-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 10px;
    font-size: 18px;  /* Збільшений розмір шрифту */
    font-weight: 400;
    color: #333;
}

/* General styles for the login form */
.login-form input {
    margin-bottom: 15px;
}
