@model UTB.SocSit.Yalynnyi.Ispaniuk.Application.ViewModels.RegisterViewModel
@{
ViewData["Title"] = "Register";
}
@section Styles
{
<link rel="stylesheet" href="~/css/register.css" />
}
<div id="logreg-forms">
    <form asp-action="Register" method="post" class="form-signup">
        <br />
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Register</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
        </div>
        <div class="social-login">
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google</span> </button>
        </div>
        <div class="social-login">
            <button class="btn twitter-btn social-btn" type="button"><span><i class="fab fa-twitter"></i> Sign up with Twitter</span> </button>
        </div>
        <p style="text-align:center">OR</p>
        <hr>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Username" type="text" id="user-name" class="form-control" placeholder="Username" autofocus="">
        <span asp-validation-for="Username" class="text-danger"></span>
        <input asp-for="Name" type="text" id="first-name" class="form-control" placeholder="First name" autofocus="">
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Email" type="email" id="user-email" class="form-control" placeholder="Email address" autofocus="">
        <span asp-validation-for="Email" class="text-danger"></span>
        @* <input asp-for="Phone" type="tel" id="user-phone" class="form-control" placeholder="Phone" autofocus=""> *@
           <input asp-for="Phone" type="tel" id="user-phone" class="form-control" placeholder="Phone" autofocus="" data-val="true" 
           data-val-phoneNumber="Invalid phone number format. Use '+' followed by 6 to 20 digits.">

        <span asp-validation-for="Phone" class="text-danger"></span>
        <br />
        <input asp-for="Password" type="password" id="user-pass" class="form-control" placeholder="Password" autofocus="" data-val="true" 
        data-val-password="Invalid password. Use Invalid phone number format. Use Invalid phone number format. Use at least 8 characters including digits and letters.">

        <span asp-validation-for="Password" class="text-danger"></span>
        <input asp-for="RepeatedPassword" type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" autofocus="">
        <span asp-validation-for="RepeatedPassword" class="text-danger"></span>
        <br />
        <div class="text-center">
            <button class="btn btn-primary w-100" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
        </div>
        <hr>
        <a asp-action="Login" class="btn btn-success btn-block text-white" type="button" id="btn-signin"><i class="fas fa-sign-in-alt"></i> Sign in to Existing Account</a>
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/js/jquery.validation.phone_number.js"></script> *@
}
 